* {
  margin: 0;
  padding: 0;
}

wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #f9f8fb;
  height: 1000px;
  background: url(img/header2_02.jpg) no-repeat center;
}

.logo-white {
  background: url(img/logo_white_02.png);
}

header ul a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  font-family: "Raleway";
  font-weight: 700;
}

.nav > li:hover {
  border-top: solid 3px #ff6033;
}
